.grad{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(236, 236, 236);
    min-width: 200px;
    width: 200px;
    height: 300px;
    border: none;
    margin: 20px 20px;
    box-shadow: inset 0 0 5px black;
    border-radius: 5px;
}
.button_container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin-top: 5px;
    margin-right: 10px;
    
}
.podaci{
    width: 100%;
    margin-left: 20px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    margin-bottom: 0px;
}
.txt_prikaz{
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.icon_vrijeme{
    font-size: 100px;
    color: rgb(89, 173, 207);
}