.heading{
    text-transform: uppercase;
    font-size: 40px;
    margin: 30px 0;
    color: white;
    z-index: 1;
    text-align: center;
    font-family: Georgia, serif;
    text-decoration: none;
}
@media (max-width:800px){
    .heading{
        margin: 15px 0;
        font-size: 35px;
    }
}
.graf_conteiner{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}
.graf_prikaz{
    width: 70%;
    height: 500px;
}
.select{
    width: 150px;
}
.naslov_grafa{
    color: white;
    font-style: italic;
}