.container_lista_gradova{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 70%;
    flex-wrap: wrap;
    

}
.pom_container{
    transition: 0.2s all ease;
    display: flex;
    flex-flow: column;
    align-items: center;
}
.txt_dodajte_loaciju{
    color: white;
    font-style: italic;
}

