.container_lista_gradova{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 90%;
    flex-wrap: wrap;
    

}
.pom_container{
    transition: 0.2s all ease;
}

