.grad{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(236, 236, 236);
    min-width: 200px;
    width: 200px;
    height: 330px;
    min-height: 330px;
    border: none;
    margin: 20px 20px;
    box-shadow: inset 0 0 5px black;
    border-radius: 5px;
}
.grad2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-width: 200px;
    width: 100%;
    height: 100%;
    text-decoration: none; /* Uklanja podvlaku */
    color: black;
    
}
.button_containerr{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;
    margin-right: 0px;
    font-size: 20px;
    font-style: italic;
    
    
}
.podaci{
    width: 90%;
    margin-left: 20px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    margin-bottom: 0px;
}
.txt_prikaz{
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.icon_vrijeme{
    font-size: 100px;
    color: rgb(43, 84, 100);
}